@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@layer utilities {
  h1,
  h3,
  h4,
  p,
  .main-logo {
    font-family: "Lora", serif;
    letter-spacing: 0.25rem;
    font-weight: lighter;
  }

  .wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }
}
